.App {
  text-align: center;
 
}
.cardscontainer{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.card{
  margin: 20px auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 10px;
  width: 450px;
  height: fit-content;
}
.card>img{
  margin-top: 10px;
   height: 350px;
   
}
.search{
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  height: 80px;
  /* border: 1px solid red; */
  background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.input>label{
  color: white;
}
select{
  padding: 8px 20px;
  font-size: 15px;
  border-radius: 10px;
}
.search>img{
  width: 100px;
  border-radius: 10px;
}
input{
  width: 300px;
  height: 40px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 16px;
  
}
.input{
  width: 680px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  /* border: 1px solid orange; */
}
.input>button{
  border: none;
  padding: 15px 40px;
  border-radius: 10px;
  background-color: #3a4adc ;
  color: white;
  font-size: 16px;
}
